.home-banner {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 200px;
  justify-content: end;
  padding: var(--spacing);
  overflow: hidden;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #FFFFFF04;
}

.home-banner__bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/cbOrr70.png');
  background-size: 100px;
  background-position: right;
  opacity: .05;
  z-index: 0;
}

.home-banner__title {
  z-index: 1;
}

.home-banner__description {
  font-size: 14px;
  opacity: .4;
  transition: all 100ms ease-in-out;
}

.home-banner__description:hover {
  opacity: 1;
}
